.head {
    text-align: center;
    color: beige;
    background-color: blue;
    margin-top: -20px;
}

.centro {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

div.game {
    display: flex;
    gap: 600px;
    background-color: slategray;
    margin-top: 200px;
    align-items: center;
    justify-content: center;
}